SAKERNAS RAG - Hybrid Adaptive FIXED Faster.json
{
  "name": "SAKERNAS RAG - Hybrid Adaptive FIXED Faster",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "filter-group",
              "leftValue": "={{ $json.payload.from }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            },
            {
              "id": "filter-broadcast",
              "leftValue": "={{ $json.payload.from }}",
              "rightValue": "@broadcast",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        800
      ],
      "id": "5df84391-fe6e-4beb-88c1-69e721366934",
      "name": "Filter Groups1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "responsesApiEnabled": false,
        "options": {
          "timeout": 180000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        1248
      ],
      "id": "593428f3-88f9-44e4-a169-dd0e10943ec3",
      "name": "LLM Intent Classifier1",
      "credentials": {
        "openAiApi": {
          "id": "UIf8te6pFLHvhBzM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Role: Intent Classifier dan Query Analyzer untuk sistem RAG SAKERNAS.\n\nTugas:\n1. Klasifikasi intent dan complexity query\n2. Tentukan strategi retrieval (single-path atau multi-path)\n3. Generate optimized query/queries yang ringkas, compact, cepat, dan informatif.\n4. SIMPAN original query untuk reference\n\nIntent Categories:\n- definitional: Pertanyaan \"apa itu\", \"pengertian\", \"definisi\"\n- code_lookup: Pertanyaan tentang KBLI, KBJI, kode\n- procedural: Pertanyaan \"bagaimana\", \"cara\", \"langkah\"\n- classification: Pertanyaan \"apakah X termasuk Y\", \"tergolong\"\n- comparison: Pertanyaan \"bedanya apa\", \"perbedaan\"\n- multi_hop: Pertanyaan yang butuh reasoning bertahap\n\nComplexity Assessment:\n- SIMPLE: definitional, code_lookup, procedural → Single-path\n- COMPLEX: classification, comparison, multi_hop → Multi-path\n\nTerm Mapping:\n- \"ojek/ojol\" → \"angkutan darat penumpang roda dua KBLI 49.32\"\n- \"pengangguran\" → \"mencari pekerjaan angkatan kerja tidak bekerja\"\n- \"ibu rumah tangga\" → \"bukan angkatan kerja mengurus rumah tangga\"\n- \"anak kos\" → \"penduduk tempat tinggal 6 bulan domisili\"\n- \"petani\" → \"pertanian tanaman pangan KBLI 01\"\n\nOutput Format (JSON):\n\nFOR SIMPLE QUERIES:\n{\n  \"intent\": \"definitional|code_lookup|procedural\",\n  \"complexity\": \"simple\",\n  \"strategy\": \"single_path\",\n  \"optimized_query\": \"expanded query dengan istilah teknis dan sinonim\",\n  \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"],\n  \"top_k\": 15,\n  \"original_query\": \"{{ COPY EXACT USER QUERY HERE }}\"\n}\n\nuntuk query complex maksimal top_k 3\nFOR COMPLEX QUERIES:\n{\n  \"intent\": \"classification|comparison|multi_hop\",\n  \"complexity\": \"complex\",\n  \"strategy\": \"multi_path\",\n  \"subqueries\": [\n    {\n      \"path\": 1,\n      \"focus\": \"precise\",\n      \"query\": \"query presisi dengan istilah teknis\",\n      \"top_k\": 3, \n      \"weight\": 1.0\n    },\n    {\n      \"path\": 2,\n      \"focus\": \"expanded\",\n      \"query\": \"query dengan sinonim dan variasi\",\n      \"top_k\": 5,\n      \"weight\": 0.8\n    },\n    {\n      \"path\": 3,\n      \"focus\": \"contextual\",\n      \"query\": \"query konteks umum\",\n      \"top_k\": 3,\n      \"weight\": 0.6\n    }\n  ],\n  \"keywords\": [\"keyword1\", \"keyword2\"],\n  \"original_query\": \"{{ COPY EXACT USER QUERY HERE }}\"\n}\n\nPENTING: \n1. Return HANYA valid JSON, tanpa markdown wrapper\n2. Field \"original_query\" WAJIB diisi dengan query asli user (verbatim)\n3. Jangan ubah atau paraphrase original_query",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        1040
      ],
      "id": "1510c341-a4b5-4922-aefa-186ac77fc140",
      "name": "Intent Classifier1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-strategy",
              "leftValue": "={{ $json.strategy }}",
              "rightValue": "single_path",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        1040
      ],
      "id": "91c802d0-ed93-4a96-9ef3-903e69b73cec",
      "name": "Route Splitter1"
    },
    {
      "parameters": {
        "options": {
          "timeout": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1536,
        816
      ],
      "id": "307cae8c-548f-473c-98f6-bbdaf71bba8d",
      "name": "Embeddings Single1",
      "credentials": {
        "openAiApi": {
          "id": "UIf8te6pFLHvhBzM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "rag_vectors",
          "mode": "list",
          "cachedResultName": "rag_vectors"
        },
        "prompt": "={{ $json.optimized_query }}",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1456,
        592
      ],
      "id": "f0206545-422c-497a-9861-ee340965822b",
      "name": "Supabase Vector Store Single1",
      "credentials": {
        "supabaseApi": {
          "id": "IRgdA1grhUB2EQRf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// NORMALIZE DATA SINGLE - FIXED FOR SUPABASE DIRECT OUTPUT\n// Handles direct output from Supabase Vector Store\n// ============================================\n\nconst items = $input.all();\n\nconsole.log('=== NORMALIZE DATA SINGLE (FIXED) ===');\nconsole.log('📥 Input items:', items.length);\n\nif (items.length === 0) {\n  console.log('❌ No input items!');\n  return [{\n    json: {\n      error: \"No input items\",\n      context: \"Tidak ada data dari Single Path Retriever.\",\n      total_chunks: 0\n    }\n  }];\n}\n\nconst normalized = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  \n  console.log(`\\n--- Processing item ${i + 1} ---`);\n  console.log('📋 Keys:', Object.keys(data));\n  \n  // CASE 1: Direct Supabase output with \"document\" field\n  if (data.document) {\n    console.log('✅ Found direct Supabase output format');\n    \n    const doc = data.document;\n    const content = doc.pageContent || doc.content || \"\";\n    const metadata = doc.metadata || {};\n    const similarity = data.score || 0.7;\n    \n    // VALIDATE: Must have content and doc_id\n    const hasContent = content && content.length >= 50;\n    const hasDocId = metadata.doc_id && \n                     metadata.doc_id !== \"\" && \n                     metadata.doc_id !== \"Dokumen Tidak Diketahui\";\n    \n    if (!hasContent) {\n      console.log(`⚠️ Skipping: Content too short (${content.length} chars)`);\n      continue;\n    }\n    \n    if (!hasDocId) {\n      console.log('⚠️ Skipping: Missing or invalid doc_id');\n      continue;\n    }\n    \n    normalized.push({\n      json: {\n        content: content,\n        metadata: {\n          doc_id: metadata.doc_id,\n          chunk_id: metadata.chunk_id,\n          chunk_type: metadata.chunk_type || \"content\",\n          page_start: metadata.page_start || null,\n          page_end: metadata.page_end || null,\n          language: metadata.language || \"id\",\n          ...metadata  // Preserve all other fields\n        },\n        similarity: similarity\n      }\n    });\n    \n    console.log(`✅ Extracted: ${content.substring(0, 80)}...`);\n    console.log(`   Doc ID: ${metadata.doc_id}`);\n    console.log(`   Pages: ${metadata.page_start || 'N/A'}-${metadata.page_end || 'N/A'}`);\n    console.log(`   Similarity: ${similarity.toFixed(3)}`);\n    continue;\n  }\n  \n  // CASE 2: Direct document format (pageContent/content at root)\n  if (data.pageContent || data.content) {\n    console.log('✅ Found direct document format');\n    \n    const content = data.pageContent || data.content || \"\";\n    const metadata = data.metadata || {};\n    const similarity = data.similarity || data.score || 0.7;\n    \n    const hasContent = content && content.length >= 50;\n    const hasDocId = metadata.doc_id && \n                     metadata.doc_id !== \"\" && \n                     metadata.doc_id !== \"Dokumen Tidak Diketahui\";\n    \n    if (!hasContent || !hasDocId) {\n      console.log('⚠️ Skipping: Invalid content or doc_id');\n      continue;\n    }\n    \n    normalized.push({\n      json: {\n        content: content,\n        metadata: {\n          doc_id: metadata.doc_id,\n          chunk_id: metadata.chunk_id,\n          chunk_type: metadata.chunk_type || \"content\",\n          page_start: metadata.page_start || null,\n          page_end: metadata.page_end || null,\n          language: metadata.language || \"id\",\n          ...metadata\n        },\n        similarity: similarity\n      }\n    });\n    \n    console.log(`✅ Extracted: ${content.substring(0, 80)}...`);\n    continue;\n  }\n  \n  // CASE 3: Nested in output field (fallback for Agent output)\n  let rawOutput = data.output || data.tool_results || null;\n  \n  if (rawOutput) {\n    console.log('📦 Found output/tool_results field');\n    \n    // Parse if stringified\n    if (typeof rawOutput === 'string') {\n      try {\n        rawOutput = JSON.parse(rawOutput);\n        console.log('✅ Parsed stringified output');\n      } catch (e) {\n        console.log('❌ Failed to parse:', e.message);\n        continue;\n      }\n    }\n    \n    // Extract documents from various nested structures\n    let documents = [];\n    \n    if (Array.isArray(rawOutput)) {\n      documents = rawOutput;\n    } else if (rawOutput.document) {\n      documents = [rawOutput.document];\n    } else if (rawOutput.pageContent || rawOutput.content) {\n      documents = [rawOutput];\n    }\n    \n    // Process each document\n    for (const doc of documents) {\n      const content = doc.pageContent || doc.content || \"\";\n      const metadata = doc.metadata || {};\n      const similarity = doc.similarity || doc.score || 0.7;\n      \n      const hasContent = content && content.length >= 50;\n      const hasDocId = metadata.doc_id && \n                       metadata.doc_id !== \"\" && \n                       metadata.doc_id !== \"Dokumen Tidak Diketahui\";\n      \n      if (!hasContent || !hasDocId) {\n        continue;\n      }\n      \n      normalized.push({\n        json: {\n          content: content,\n          metadata: {\n            doc_id: metadata.doc_id,\n            chunk_id: metadata.chunk_id,\n            chunk_type: metadata.chunk_type || \"content\",\n            page_start: metadata.page_start || null,\n            page_end: metadata.page_end || null,\n            language: metadata.language || \"id\",\n            ...metadata\n          },\n          similarity: similarity\n        }\n      });\n    }\n  }\n}\n\nconsole.log(`\\n=== NORMALIZE COMPLETE ===`);\nconsole.log(`📤 Output items: ${normalized.length}`);\n\nif (normalized.length === 0) {\n  console.log('❌ WARNING: No valid documents extracted!');\n  console.log('💡 Check input data structure');\n  \n  return [{\n    json: {\n      error: \"No valid documents\",\n      context: \"Gagal extract dokumen. Periksa struktur data input.\",\n      total_chunks: 0,\n      debug: {\n        input_items: items.length,\n        sample_structure: items[0] ? Object.keys(items[0].json) : []\n      }\n    }\n  }];\n}\n\n// Log sample of normalized data\nif (normalized.length > 0) {\n  console.log('\\n📊 Sample normalized item:');\n  console.log('  Content length:', normalized[0].json.content.length);\n  console.log('  Doc ID:', normalized[0].json.metadata.doc_id);\n  console.log('  Similarity:', normalized[0].json.similarity);\n}\n\nreturn normalized;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        592
      ],
      "id": "12d69c0c-e48e-4610-b768-4d9100557db4",
      "name": "Normalize Data Single1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// HYBRID RERANKER - FIXED: Preserve All Metadata\n// ============================================\n\nconst chunks = $input.all();\n\nconsole.log('=== HYBRID RERANKER (FIXED) ===');\nconsole.log('📥 Input chunks:', chunks.length);\n\n// Get current query from Intent Classifier\nlet currentQuery = \"Pertanyaan tidak tersedia\";\nlet keywords = [];\nlet intent = \"general\";\n\ntry {\n  const analyzerRaw = $('Intent Classifier1').first().json;\n  \n  // Parse stringified JSON from output field\n  let analyzer = {};\n  if (analyzerRaw.output && typeof analyzerRaw.output === 'string') {\n    try {\n      analyzer = JSON.parse(analyzerRaw.output);\n      console.log('✅ Parsed Intent Classifier output');\n    } catch (e) {\n      console.log('⚠️ Failed to parse Intent Classifier output');\n      analyzer = analyzerRaw;\n    }\n  } else {\n    analyzer = analyzerRaw;\n  }\n  \n  currentQuery = analyzer.original_query || analyzer.optimized_query || currentQuery;\n  keywords = analyzer.keywords || [];\n  intent = analyzer.intent || \"general\";\n  console.log('🎯 Intent:', intent);\n  console.log('🏷️ Keywords:', keywords);\n} catch (e) {\n  console.log('⚠️ Could not get analyzer data:', e.message);\n}\n\nconsole.log('❓ Current query:', currentQuery);\n\nif (chunks.length === 0) {\n  console.log('❌ No chunks to rerank!');\n  return [{\n    json: {\n      chunks: [],\n      total_chunks: 0,\n      strategy: 'single_path',\n      current_query: currentQuery\n    }\n  }];\n}\n\n// Rerank chunks\nconst rerankedChunks = chunks.map((item, idx) => {\n  const data = item.json;\n  const content = data.content || \"\";\n  const metadata = data.metadata || {};\n  const semanticScore = data.similarity || 0.7;\n  \n  console.log(`📄 Chunk ${idx + 1}:`, {\n    content_length: content.length,\n    doc_id: metadata.doc_id,\n    page_start: metadata.page_start,\n    page_end: metadata.page_end,\n    score: semanticScore\n  });\n  \n  // Keyword matching\n  const contentLower = content.toLowerCase();\n  const keywordMatches = keywords.filter(kw => \n    contentLower.includes(kw.toLowerCase())\n  );\n  const keywordScore = keywords.length > 0 \n    ? keywordMatches.length / keywords.length \n    : 0;\n  \n  // Metadata boost\n  let metadataBoost = 0;\n  const docType = metadata.chunk_type || '';\n  \n  if (intent === 'definitional' && docType === 'konsep') {\n    metadataBoost = 0.1;\n  } else if (intent === 'code_lookup' && docType === 'kode') {\n    metadataBoost = 0.15;\n  } else if (intent === 'procedural' && docType === 'pedoman') {\n    metadataBoost = 0.1;\n  }\n  \n  // Position penalty\n  const pageStart = metadata.page_start || 999;\n  const positionPenalty = Math.min(pageStart / 100, 0.05);\n  \n  // Hybrid score\n  const hybridScore = (\n    (semanticScore * 0.70) +\n    (keywordScore * 0.30) +\n    metadataBoost -\n    positionPenalty\n  );\n  \n  // CRITICAL: Preserve ALL metadata fields\n  return {\n    content: content,\n    metadata: metadata, // Keep original metadata intact\n    similarity: semanticScore,\n    keyword_score: keywordScore,\n    metadata_boost: metadataBoost,\n    hybrid_score: hybridScore\n  };\n});\n\n// Sort and take top 10\nrerankedChunks.sort((a, b) => b.hybrid_score - a.hybrid_score);\nconst topChunks = rerankedChunks.slice(0, 10);\n\nconsole.log(`✅ Top ${topChunks.length} chunks selected`);\nconsole.log('📊 Top scores:', topChunks.slice(0, 3).map(c => c.hybrid_score.toFixed(2)));\n\n// Verify metadata preservation\nif (topChunks.length > 0) {\n  console.log('🔍 First chunk metadata check:', {\n    doc_id: topChunks[0].metadata.doc_id,\n    page_start: topChunks[0].metadata.page_start,\n    page_end: topChunks[0].metadata.page_end,\n    chunk_type: topChunks[0].metadata.chunk_type\n  });\n}\n\nconsole.log('=== RERANK COMPLETE ===');\n\nreturn [{\n  json: {\n    chunks: topChunks,\n    total_chunks: topChunks.length,\n    strategy: 'single_path',\n    rerank_method: 'hybrid',\n    current_query: currentQuery\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        592
      ],
      "id": "6238cf42-97c9-416b-afd6-f741d3a1d8be",
      "name": "Hybrid Reranker1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extract subqueries for multi-path retrieval\n */\n\nconst analyzer = $input.first().json;\nconst subqueries = analyzer.subqueries || [];\n\nconsole.log('🔀 Splitting into', subqueries.length, 'paths');\n\nreturn subqueries.map(sq => ({\n  json: {\n    path_number: sq.path,\n    focus: sq.focus,\n    query: sq.query,\n    top_k: sq.top_k,\n    weight: sq.weight,\n    original_query: $('WAHA Trigger').item.json.payload.body,\n    keywords: analyzer.keywords\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1280
      ],
      "id": "8aa90db2-b5f6-455e-8875-8933401a8551",
      "name": "Extract Subqueries1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2032,
        1280
      ],
      "id": "26931540-c976-4ff6-a8ef-18f325f90fe5",
      "name": "Loop Paths1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * NORMALIZE DATA MULTI - FIXED FOR DIRECT SUPABASE OUTPUT\n * Handles the actual structure from Supabase Vector Store\n */\n\nconst items = $input.all();\n\nconsole.log('=== NORMALIZE DATA MULTI (FIXED v2) ===');\nconsole.log('📥 Total items:', items.length);\n\nif (items.length === 0) {\n  console.log('⚠️ No items to normalize!');\n  return [];\n}\n\n// --- Get Path Info SAFELY ---\nlet pathInfo = { path_number: 1, focus: 'unknown', weight: 1.0 };\ntry {\n  pathInfo = $('Loop Paths1').first().json;\n  console.log(`🔀 Path: ${pathInfo.path_number} | Focus: ${pathInfo.focus}`);\n} catch (e) {\n  console.log('⚠️ Could not get Loop Paths info, using defaults');\n}\n\n// --- Process Each Item ---\nconst normalized = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  \n  console.log(`\\n--- Processing item ${i + 1} ---`);\n  console.log('📋 Keys:', Object.keys(data));\n  \n  // CASE 1: Direct Supabase output with \"document\" field\n  if (data.document) {\n    console.log('✅ Found direct Supabase output format');\n    \n    const doc = data.document;\n    const content = doc.pageContent || doc.content || \"\";\n    const metadata = doc.metadata || {};\n    const similarity = data.score || 0.7;\n    \n    // VALIDATE: Must have content and doc_id\n    const hasContent = content && content.length >= 50;\n    const hasDocId = metadata.doc_id && \n                     metadata.doc_id !== \"\" && \n                     metadata.doc_id !== \"Dokumen Tidak Diketahui\";\n    \n    if (!hasContent) {\n      console.log(`⚠️ Skipping: Content too short (${content.length} chars)`);\n      continue;\n    }\n    \n    if (!hasDocId) {\n      console.log('⚠️ Skipping: Missing or invalid doc_id');\n      continue;\n    }\n    \n    normalized.push({\n      json: {\n        content: content,\n        metadata: {\n          doc_id: metadata.doc_id,\n          chunk_id: metadata.chunk_id,\n          chunk_type: metadata.chunk_type || \"content\",\n          page_start: metadata.page_start || null,\n          page_end: metadata.page_end || null,\n          language: metadata.language || \"id\",\n          ...metadata  // Preserve all other fields\n        },\n        similarity: similarity,\n        path_number: pathInfo.path_number,\n        focus: pathInfo.focus,\n        weight: pathInfo.weight\n      }\n    });\n    \n    console.log(`✅ Extracted: ${content.substring(0, 80)}...`);\n    console.log(`   Doc ID: ${metadata.doc_id}`);\n    console.log(`   Pages: ${metadata.page_start || 'N/A'}-${metadata.page_end || 'N/A'}`);\n    console.log(`   Similarity: ${similarity.toFixed(3)}`);\n    continue;\n  }\n  \n  // CASE 2: Direct document format (pageContent/content at root)\n  if (data.pageContent || data.content) {\n    console.log('✅ Found direct document format');\n    \n    const content = data.pageContent || data.content || \"\";\n    const metadata = data.metadata || {};\n    const similarity = data.similarity || data.score || 0.7;\n    \n    const hasContent = content && content.length >= 50;\n    const hasDocId = metadata.doc_id && \n                     metadata.doc_id !== \"\" && \n                     metadata.doc_id !== \"Dokumen Tidak Diketahui\";\n    \n    if (!hasContent || !hasDocId) {\n      console.log('⚠️ Skipping: Invalid content or doc_id');\n      continue;\n    }\n    \n    normalized.push({\n      json: {\n        content: content,\n        metadata: {\n          doc_id: metadata.doc_id,\n          chunk_id: metadata.chunk_id,\n          chunk_type: metadata.chunk_type || \"content\",\n          page_start: metadata.page_start || null,\n          page_end: metadata.page_end || null,\n          language: metadata.language || \"id\",\n          ...metadata\n        },\n        similarity: similarity,\n        path_number: pathInfo.path_number,\n        focus: pathInfo.focus,\n        weight: pathInfo.weight\n      }\n    });\n    \n    console.log(`✅ Extracted: ${content.substring(0, 80)}...`);\n    continue;\n  }\n  \n  console.log('⚠️ Item structure not recognized, skipping');\n}\n\n// --- Logging Summary ---\nconsole.log(`\\n=== NORMALIZATION COMPLETE ===`);\nconsole.log(`📤 Total extracted: ${normalized.length} docs`);\n\nif (normalized.length === 0) {\n  console.log('❌ ERROR: No documents extracted. Check input structure.');\n  console.log('🔍 Sample input structure:');\n  if (items.length > 0) {\n    console.log(JSON.stringify(items[0].json, null, 2).substring(0, 500));\n  }\n} else {\n  // Log first doc metadata\n  console.log('📊 First doc metadata:', {\n    doc_id: normalized[0].json.metadata.doc_id,\n    page_start: normalized[0].json.metadata.page_start,\n    page_end: normalized[0].json.metadata.page_end,\n    path: normalized[0].json.path_number,\n    focus: normalized[0].json.focus\n  });\n}\n\nreturn normalized;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        1376
      ],
      "id": "85bb9f33-25d5-4074-b7eb-e4b30ff4e2e5",
      "name": "Normalize Data Multi1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Multi-Path Merger & Cross-Path Reranker - FIXED\n * Preserves all metadata fields\n */\n\nconst allResults = $input.all();\nconst uniqueChunks = new Map();\n\n// GET ANALYZER DATA - PARSE OUTPUT FIRST!\nlet analyzer = {};\nlet keywords = [];\nlet currentQuery = \"Pertanyaan tidak tersedia\";\n\ntry {\n  const analyzerRaw = $('Intent Classifier1').first().json;\n  \n  // IMPORTANT: Parse stringified JSON from output field\n  if (analyzerRaw.output && typeof analyzerRaw.output === 'string') {\n    analyzer = JSON.parse(analyzerRaw.output);\n    console.log('✅ Parsed Intent Classifier output');\n  } else {\n    analyzer = analyzerRaw;\n  }\n  \n  // Extract data\n  keywords = analyzer.keywords || [];\n  currentQuery = analyzer.original_query || analyzer.optimized_query || currentQuery;\n  \n  console.log('🎯 Intent:', analyzer.intent);\n  console.log('🏷️ Keywords:', keywords);\n  \n} catch (e) {\n  console.log('⚠️ Could not get analyzer data:', e.message);\n}\n\nconsole.log('🔀 Merging results from', allResults.length, 'items');\nconsole.log('❓ Current query:', currentQuery);\n\nif (allResults.length === 0) {\n  console.log('⚠️ No results to merge!');\n  return [{\n    json: {\n      chunks: [],\n      total_chunks: 0,\n      strategy: 'multi_path',\n      error: 'No results from multi-path retrieval',\n      current_query: currentQuery\n    }\n  }];\n}\n\n// Merge chunks from all paths\nfor (const item of allResults) {\n  const data = item.json;\n  const pathNumber = data.path_number;\n  const weight = data.weight;\n  const focus = data.focus;\n  const content = data.content || \"\";\n  const metadata = data.metadata || {};\n  const similarity = data.similarity || 0.7;\n  \n  console.log(`📄 Processing chunk from path ${pathNumber}:`, {\n    doc_id: metadata.doc_id,\n    page_start: metadata.page_start,\n    page_end: metadata.page_end\n  });\n  \n  const key = content.trim().toLowerCase();\n  \n  // Skip very short chunks\n  if (key.length < 50) continue;\n  \n  if (!uniqueChunks.has(key)) {\n    uniqueChunks.set(key, {\n      content: content,\n      metadata: metadata, // CRITICAL: Preserve all metadata\n      paths: [{ path: pathNumber, focus: focus, weight: weight }],\n      max_similarity: similarity,\n      weighted_scores: [similarity * weight]\n    });\n  } else {\n    const existing = uniqueChunks.get(key);\n    existing.paths.push({ path: pathNumber, focus: focus, weight: weight });\n    existing.max_similarity = Math.max(existing.max_similarity, similarity);\n    existing.weighted_scores.push(similarity * weight);\n  }\n}\n\nconsole.log('📦 Unique chunks after deduplication:', uniqueChunks.size);\n\n// Calculate final scores for each chunk\nconst mergedChunks = Array.from(uniqueChunks.values()).map(chunk => {\n  const content = chunk.content || \"\";\n  const contentLower = content.toLowerCase();\n  const metadata = chunk.metadata || {};\n  \n  // Cross-path boost: chunks found in multiple paths are more relevant\n  const pathCount = chunk.paths.length;\n  const crossPathBoost = (pathCount - 1) * 0.15;\n  \n  // Average weighted similarity across all paths\n  const avgWeightedSimilarity = chunk.weighted_scores.reduce((a, b) => a + b, 0) / chunk.weighted_scores.length;\n  \n  // Keyword matching score\n  const keywordMatches = keywords.filter(kw => contentLower.includes(kw.toLowerCase()));\n  const keywordScore = keywords.length > 0 ? keywordMatches.length / keywords.length : 0;\n  \n  // Diversity score: bonus for appearing in different query types\n  const hasPrecise = chunk.paths.some(p => p.focus === 'precise');\n  const hasExpanded = chunk.paths.some(p => p.focus === 'expanded');\n  const hasContextual = chunk.paths.some(p => p.focus === 'contextual');\n  const diversityScore = [hasPrecise, hasExpanded, hasContextual].filter(Boolean).length * 0.05;\n  \n  // Final score calculation\n  const finalScore = (\n    avgWeightedSimilarity * 0.50 +  // 50% weighted semantic similarity\n    crossPathBoost +                 // Bonus for multi-path appearance\n    (keywordScore * 0.20) +          // 20% keyword matching\n    diversityScore                   // Bonus for query diversity\n  );\n  \n  return {\n    content: content,\n    metadata: metadata, // CRITICAL: Keep all metadata intact\n    similarity: chunk.max_similarity,\n    path_count: pathCount,\n    cross_path_boost: crossPathBoost,\n    keyword_score: keywordScore,\n    keyword_matches: keywordMatches,\n    diversity_score: diversityScore,\n    final_score: finalScore\n  };\n});\n\n// Sort by final score and take top 10\nmergedChunks.sort((a, b) => b.final_score - a.final_score);\nconst topChunks = mergedChunks.slice(0, 5);\n\nconsole.log('✅ Top 10 chunks selected');\nconsole.log('🎯 Multi-path chunks:', topChunks.filter(c => c.path_count > 1).length);\nconsole.log('📊 Top chunk scores:', topChunks.slice(0, 3).map(c => c.final_score.toFixed(2)));\n\n// Verify metadata preservation\nif (topChunks.length > 0) {\n  console.log('🔍 First chunk metadata check:', {\n    doc_id: topChunks[0].metadata.doc_id,\n    page_start: topChunks[0].metadata.page_start,\n    page_end: topChunks[0].metadata.page_end\n  });\n}\n\nreturn [{\n  json: {\n    chunks: topChunks,\n    total_chunks: topChunks.length,\n    strategy: 'multi_path',\n    multi_path_count: topChunks.filter(c => c.path_count > 1).length,\n    rerank_method: 'cross_path_weighted',\n    current_query: currentQuery\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1184
      ],
      "id": "b9d8fb1e-988b-41a2-bab9-29abac29a27c",
      "name": "Cross-Path Reranker1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// FORMAT CONTEXT - JSON STRUCTURED VERSION\n// Hard-coded JSON for reliable structure\n// ============================================\n\nconst result = $input.first().json;\nconst chunks = result.chunks || [];\nlet currentQuery = result.current_query || \"Pertanyaan tidak tersedia\";\n\n// Fallback: Get from Intent Classifier if not in result\nif (currentQuery === \"Pertanyaan tidak tersedia\") {\n  try {\n    const analyzerRaw = $('Intent Classifier1').first().json;\n    if (analyzerRaw.output && typeof analyzerRaw.output === 'string') {\n      const analyzer = JSON.parse(analyzerRaw.output);\n      currentQuery = analyzer.original_query || analyzer.optimized_query || currentQuery;\n      console.log('✅ Got query from Intent Classifier');\n    }\n  } catch (e) {\n    console.log('⚠️ Could not get query from Intent Classifier');\n  }\n}\n\nconsole.log('=== FORMAT CONTEXT (JSON STRUCTURED) ===');\nconsole.log('📊 Chunks to format:', chunks.length);\nconsole.log('❓ Current query:', currentQuery);\n\nif (chunks.length === 0) {\n  console.log('⚠️ No chunks to format!');\n  \n  return [{\n    json: {\n      context: JSON.stringify({\n        query: currentQuery,\n        documents: [],\n        sources: [],\n        total_sources: 0\n      }, null, 2)\n    }\n  }];\n}\n\n// Build structured documents array - FILTER OUT invalid chunks first\nconst validChunks = chunks.filter((chunk, idx) => {\n  const metadata = chunk.metadata || {};\n  const hasDocId = metadata.doc_id && metadata.doc_id !== \"\" && metadata.doc_id !== \"Dokumen Tidak Diketahui\";\n  const hasContent = chunk.content && chunk.content.length > 50;\n  \n  if (!hasDocId || !hasContent) {\n    console.log(`⚠️ Skipping chunk ${idx + 1}: ${!hasDocId ? 'Missing doc_id' : 'Content too short'}`);\n    return false;\n  }\n  \n  return true;\n});\n\nconsole.log(`✅ Valid chunks: ${validChunks.length} / ${chunks.length}`);\n\nconst documents = validChunks.map((chunk, idx) => {\n  const metadata = chunk.metadata || {};\n  const sourceId = idx + 1;\n  \n  // Handle both page_start and page_end, fallback to page_end if page_start missing\n  const pageStart = metadata.page_start || metadata.page_end || null;\n  const pageEnd = metadata.page_end || metadata.page_start || null;\n  \n  return {\n    id: sourceId,\n    content: chunk.content || \"\",\n    metadata: {\n      doc_id: metadata.doc_id,\n      chunk_type: metadata.chunk_type || \"content\",\n      page_start: pageStart,\n      page_end: pageEnd,\n      language: metadata.language || \"id\"\n    },\n    relevance_score: (chunk.hybrid_score || chunk.final_score || chunk.similarity || 0) * 100\n  };\n});\n\n// Build structured sources array for citation\nconst sources = validChunks.map((chunk, idx) => {\n  const metadata = chunk.metadata || {};\n  \n  // Handle both page_start and page_end, use whichever is available\n  const pageStart = metadata.page_start || metadata.page_end;\n  const pageEnd = metadata.page_end || metadata.page_start;\n  \n  let pageRef = 'Hal. N/A';\n  \n  if (pageStart && pageEnd && pageStart !== pageEnd) {\n    pageRef = `Hal. ${pageStart}-${pageEnd}`;\n  } else if (pageStart) {\n    pageRef = `Hal. ${pageStart}`;\n  } else if (pageEnd) {\n    pageRef = `Hal. ${pageEnd}`;\n  }\n  \n  console.log(`Source ${idx + 1}: page_start=${metadata.page_start}, page_end=${metadata.page_end}, final pageRef=${pageRef}`);\n  \n  return {\n    id: idx + 1,\n    doc_id: metadata.doc_id,\n    page_ref: pageRef,\n    chunk_type: metadata.chunk_type || \"content\"\n  };\n});\n\n// Build final JSON context\nconst contextJson = {\n  query: currentQuery,\n  documents: documents,\n  sources: sources,\n  total_sources: sources.length\n};\n\nconsole.log('✅ Context formatted as JSON');\nconsole.log('📚 Total valid sources:', sources.length);\nconsole.log('📊 Filtered out:', chunks.length - validChunks.length, 'invalid chunks');\n\nif (sources.length > 0) {\n  console.log('📄 Sample source:', JSON.stringify(sources[0], null, 2));\n}\n\nconsole.log('=== FORMAT COMPLETE ===');\n\nreturn [{\n  json: {\n    context: JSON.stringify(contextJson, null, 2),\n    sources: sources,\n    total_sources: sources.length,\n    current_query: currentQuery\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1136
      ],
      "id": "ed878e81-a1b8-4ca5-8c54-93abca776d3c",
      "name": "Format Context1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "responsesApiEnabled": false,
        "options": {
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3024,
        1344
      ],
      "id": "c2c234e6-7531-4d78-994d-38f4e409f517",
      "name": "LLM Synthesizer1",
      "credentials": {
        "openAiApi": {
          "id": "UIf8te6pFLHvhBzM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.context }}",
        "options": {
          "systemMessage": "# ASISTEN SAKERNAS BPS\n\nJawab pertanyaan HANYA dari dokumen JSON yang diberikan.\n\n## INPUT FORMAT\n```json\n{\n  \"query\": \"pertanyaan\",\n  \"documents\": [{\"id\": 1, \"content\": \"...\", \"metadata\": {...}}],\n  \"sources\": [{\"id\": 1, \"doc_id\": \"nama_doc\", \"page_ref\": \"Hal. X\", \"chunk_type\": \"content\"}]\n}\n```\n\n## ATURAN UTAMA\n\n**Sitasi:**\n- Setiap fakta WAJIB ada `[id]` tepat setelahnya\n- Gunakan nomor dari array `sources`\n- Multiple: `[1][2]` atau `[1]` dan `[2]`\n\n**Konten:**\n- HANYA gunakan info dari `documents`\n- NO pengetahuan umum\n- Bahasa Indonesia profesional\n\n## FORMAT JAWABAN\n\n```\n[Paragraf dengan sitasi [1]]\n\n[Paragraf dengan sitasi [2]]\n\nFollow up pertanyaan user (opsional)\n───────────────────────────────────────────\nSumber:\n[1] {doc_id} | {page_ref} | Tipe: {chunk_type}\n[2] {doc_id} | {page_ref} | Tipe: {chunk_type}\n───────────────────────────────────────────\n```\n\n## CONTOH\n\n**Input:** \"tempat kerja pedagang keliling?\"\n\n**Output:**\n```\nPedagang keliling dikategorikan sebagai \"di jalan atau ruang publik tanpa struktur tetap\" [1]. Contohnya pedagang bakso dan ojek pangkalan [2].\n\n───────────────────────────────────────────\nSumber:\n[1] BUPED PENDATAAN SAKERNAS FEBRUARI 2026 | Hal. 241-242 | Tipe: content\n[2] Modul 11 Tempat Kerja dan Mobilitas | Hal. 27-31 | Tipe: content\n───────────────────────────────────────────\n```\n\n## CRITICAL\n✓ Sitasi `[id]` untuk setiap fakta  \n✓ Bagian \"Sumber:\" di akhir WAJIB  \n✓ Format: `[id] doc_id | page_ref | Tipe: type`  \n✗ Jangan skip doc_id di sumber"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3056,
        1136
      ],
      "id": "de92bc5d-a4bd-417c-ad11-67326755fdd7",
      "name": "Synthesizer1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $('WAHA Trigger').first().json.payload.from }}",
        "text": "={{ $json.output }}",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3408,
        1136
      ],
      "id": "74284490-39ed-416f-8730-b0b8000a683c",
      "name": "Send Message2",
      "credentials": {
        "wahaApi": {
          "id": "rM8DXikeSA9YYmci",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -240,
        416
      ],
      "id": "80583ab4-465b-4fd8-9076-44da33dfc1d3",
      "name": "WAHA Trigger",
      "webhookId": "sakernas-rag-webhook"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "default",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        208,
        704
      ],
      "id": "bd52af35-84dc-4116-924d-4bdbf6942341",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "rM8DXikeSA9YYmci",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "default",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1808,
        400
      ],
      "id": "5e2b72f2-7a36-45b2-bafe-eea983c58161",
      "name": "Start Typing8",
      "credentials": {
        "wahaApi": {
          "id": "rM8DXikeSA9YYmci",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parse Intent Classifier Output\n * Place this node BETWEEN Intent Classifier and Route Splitter\n */\n\nconst item = $input.first().json\n\nconsole.log('=== PARSE INTENT CLASSIFIER OUTPUT ===');\nconsole.log('📥 Raw input keys:', Object.keys(item));\n\nlet parsed = {};\n\n// Check if output is stringified JSON\nif (item.output && typeof item.output === 'string') {\n  console.log('📦 Output is stringified JSON');\n  try {\n    parsed = JSON.parse(item.output);\n    console.log('✅ Successfully parsed output');\n    console.log('🎯 Strategy:', parsed.strategy);\n    console.log('🏷️ Intent:', parsed.intent);\n    console.log('📊 Complexity:', parsed.complexity);\n  } catch (e) {\n    console.log('❌ Failed to parse output:', e.message);\n    // Fallback: assume simple query\n    parsed = {\n      intent: 'general',\n      complexity: 'simple',\n      strategy: 'single_path',\n      optimized_query: item.output || '',\n      keywords: [],\n      original_query: ''\n    };\n  }\n}\n// Check if output is already parsed\nelse if (item.output && typeof item.output === 'object') {\n  console.log('📦 Output is already parsed object');\n  parsed = item.output;\n}\n// Fallback: use entire item\nelse {\n  console.log('📦 Using entire item as parsed data');\n  parsed = item;\n}\n\nconsole.log('=== PARSE COMPLETE ===');\nconsole.log('📤 Output strategy:', parsed.strategy);\n\n// Return parsed data at root level for Route Splitter to access\nreturn [{\n  json: {\n    ...parsed,  // Spread all fields to root level\n    _raw_output: item.output  // Keep original for debugging\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1040
      ],
      "id": "e3e15fe3-ee29-42e9-92a9-f13c6e9fe1cf",
      "name": "Parse Intent Classifier Output1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5b6d30f-fdcd-44a8-9590-01c115cd14ab",
              "leftValue": "={{ $json.is_greeting }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f73fc067-fc22-4c63-9de2-001fce539b21",
              "leftValue": "={{ $json.payload.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        896
      ],
      "id": "219f2493-eb29-4307-899c-aee9807dfc2b",
      "name": "Is Greeting?1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Greeting Filter - ENRICHED INDONESIAN VERSION\n * Detect simple greetings/test messages\n * Place this node AFTER Filter Groups, BEFORE Intent Classifier\n */\nconst message = $input.first().json.payload.body;\nconsole.log('=== GREETING FILTER (ENRICHED) ===');\nconsole.log('📥 Message:', message);\n\n// Normalize message\nconst normalized = message.trim().toLowerCase();\nconsole.log('🔍 Normalized:', normalized);\n\n// Define greeting patterns - ENRICHED with Indonesian chat culture\nconst greetingPatterns = [\n  // Simple greetings (exact match)\n  /^(halo|hai|hello|hi|hey|hei|hei|hoy|woy)$/i,\n  /^(halo|hai|hello|hi|hey|hei|hoy|woy)\\s*[!.?]+$/i,\n  \n  // Indonesian slang greetings - EXACT MATCH to avoid false positives\n  /^p$/i,                    // Single \"p\" \n  /^(puh|pw|yoi|yow)$/i,     // Variations\n  /^(gas|gass|gaskan)$/i,    // \"Gas\" greetings\n  /^(bang|kak|bro|sis|om|tante)$/i,  // Casual calls\n  \n  // Repeated characters (common in Indonesia) - CONSERVATIVE: 3+ chars\n  /^p{3,10}$/i,              // \"pppp\" or \"ppppp\" (3-10 times)\n  /^h{3,10}$/i,              // \"hhhh\"\n  /^(halo){2,3}$/i,          // \"halohalo\" or \"halohalohal\"\n  \n  // Social media style\n  /^(asup|hadir|absen|cekk?)$/i,\n  /^(min|admin|mod)$/i,      // Calling admin/moderator\n  \n  // Ping variations\n  /^ping$/i,\n  /^(pong|tes\\s*ping)$/i,\n  \n  // Test messages (exact match)\n  /^(test|tes|cek|check|testing|nyoba|coba)$/i,\n  /^(test|tes|cek|check|testing|nyoba)\\s*[!.?]+$/i,\n  \n  // Common short responses (exact match only)\n  /^(ok|oke|okay|okee|oks|siap)$/i,\n  /^(ya|yes|yup|yoi|yap|iya|iye)$/i,\n  /^(sip|mantap|mantul|josss?)$/i,\n  \n  // Gen Z expressions\n  /^(gaes|guys|guyss|gengs|gengss|cuy|coy)$/i,\n  /^(ngab|wkwk|kwkw|haha|hehe)$/i,\n  \n  // Thanks expressions\n  /^(terima\\s*kasih|thanks|thank\\s*you|makasih|thx|ty|tq)$/i,\n  /^(tengkyu|tenkyu|suwun|nuhun|matur\\s*nuwun)$/i,\n  \n  // Greetings with time\n  /^(selamat\\s*pagi|pagi|selamat\\s*siang|siang|selamat\\s*sore|sore|selamat\\s*malam|malam)$/i,\n  /^(good\\s*morning|morning|good\\s*afternoon|good\\s*evening|good\\s*night|night)$/i,\n  \n  // Religious greetings\n  /^(assalamualaikum|walaikumsalam|salam|peace)$/i,\n  \n  // Casual check-ins\n  /^(apa\\s*kabar|what'?s\\s*up|wassup|wazzup)$/i,\n  /^(gimana|gmn|aman|pd\\s*kemana)$/i,\n\n  /^(mas alwan|alwan|wan|pd\\s*ubian)$/i,\n  \n  // Single emoji or sticker indicators\n  /^(stiker|sticker|gif)$/i,\n  \n  // Emoji only (2+ emojis to avoid false positives)\n  /^[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}\\u{1F900}-\\u{1F9FF}]{2,}$/u,\n  \n  // Punctuation only (multiple)\n  /^[!?.,;:]{2,}$/,\n  \n  // Repeated punctuation with single letter\n  /^[a-z][!?.,;:]{2,}$/i,    // \"p!!!\", \"h???\"\n];\n\n// Check if message matches any greeting pattern\nlet isGreeting = false;\nlet matchedPattern = null;\n\nfor (const pattern of greetingPatterns) {\n  if (pattern.test(normalized)) {\n    isGreeting = true;\n    matchedPattern = pattern.toString();\n    console.log('✅ Matched pattern:', pattern);\n    break;\n  }\n}\n\n// Additional check: Repeated single character (3+ times)\n// For cases like \"aaaa\", \"pppp\", \"hhhh\" that might not match above\nif (!isGreeting && normalized.length >= 3 && normalized.length <= 10) {\n  const firstChar = normalized[0];\n  const allSame = normalized.split('').every(char => char === firstChar);\n  \n  if (allSame && /[a-z]/i.test(firstChar)) {\n    isGreeting = true;\n    matchedPattern = 'repeated_char_pattern';\n    console.log('✅ Matched: Repeated character pattern');\n  }\n}\n\nconsole.log('🎯 Is Greeting:', isGreeting);\nconsole.log('=== FILTER COMPLETE ===');\n\n// Prepare output object\nconst outputJson = {\n  ...($input.first().json),\n  original_message: message,\n  matched_pattern: matchedPattern\n};\n\n// ONLY add is_greeting if it is true\nif (isGreeting) {\n  outputJson.is_greeting = true;\n}\n\nreturn [{\n  json: outputJson\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        880
      ],
      "id": "3cbdaa69-07f9-4b37-8a13-46c47ee3ac01",
      "name": "Greeting Filter1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $('WAHA Trigger').first().json.payload.from }}",
        "text": "=Halo! 👋\n\nSaya adalah asisten virtual BPS Kabupaten Buton Utara untuk SAKERNAS Februari 2026.\n\nSaya dapat membantu Anda dengan informasi tentang:\n• Konsep dan definisi ketenagakerjaan\n• Prosedur dan pedoman SAKERNAS\n• Klasifikasi status pekerjaan\n• Dan pertanyaan lainnya seputar SAKERNAS\n\nSilakan ajukan pertanyaan Anda, contoh:\n- \"Apa itu SAKERNAS?\"\n- \"Definisi pengangguran menurut ICLS 19\"\n- \"Bagaimana cara menentukan status kependudukan?\"\n\nSaya siap membantu! 😊\n",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        720,
        752
      ],
      "id": "94a7eb9b-cf04-4c0b-8b72-742354e19791",
      "name": "Send Message3",
      "credentials": {
        "wahaApi": {
          "id": "rM8DXikeSA9YYmci",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=default"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3152,
        1440
      ],
      "id": "bd6bd1c6-1c8b-473a-8af5-da18514b66fe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "default",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1520,
        1040
      ],
      "id": "6809f826-897b-4fa9-a7a6-15297d7e7a18",
      "name": "Start Typing11",
      "credentials": {
        "wahaApi": {
          "id": "rM8DXikeSA9YYmci",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// DEBUG CHUNKS - Check Metadata Quality\n// Place this BEFORE Format Context node\n// ============================================\n\nconst result = $input.first().json;\nconst chunks = result.chunks || [];\n\nconsole.log('=== DEBUG CHUNKS METADATA ===');\nconsole.log('📊 Total chunks:', chunks.length);\n\n// Check each chunk's metadata quality\nconst metadataReport = chunks.map((chunk, idx) => {\n  const metadata = chunk.metadata || {};\n  \n  const report = {\n    chunk_id: idx + 1,\n    has_doc_id: !!metadata.doc_id,\n    doc_id: metadata.doc_id || 'MISSING',\n    has_page: !!(metadata.page_start || metadata.page_end),\n    page_start: metadata.page_start || 'N/A',\n    page_end: metadata.page_end || 'N/A',\n    chunk_type: metadata.chunk_type || 'N/A',\n    content_length: chunk.content ? chunk.content.length : 0,\n    score: chunk.hybrid_score || chunk.final_score || chunk.similarity || 0\n  };\n  \n  return report;\n});\n\nconsole.log('\\n📋 Metadata Quality Report:');\nconsole.table(metadataReport);\n\n// Count issues\nconst issues = {\n  missing_doc_id: metadataReport.filter(r => !r.has_doc_id).length,\n  missing_page: metadataReport.filter(r => !r.has_page).length,\n  short_content: metadataReport.filter(r => r.content_length < 50).length\n};\n\nconsole.log('\\n⚠️ Issues Found:');\nconsole.log(`- Missing doc_id: ${issues.missing_doc_id}`);\nconsole.log(`- Missing page info: ${issues.missing_page}`);\nconsole.log(`- Short content (<50 chars): ${issues.short_content}`);\n\n// Identify problematic chunks\nconst problematic = metadataReport.filter(r => \n  !r.has_doc_id || r.content_length < 50\n);\n\nif (problematic.length > 0) {\n  console.log('\\n🚨 Problematic Chunks (will be filtered):');\n  console.table(problematic);\n}\n\n// Pass through original data\nreturn [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        1136
      ],
      "id": "66b8561b-c886-4bc8-9e1e-f9cfebad1416",
      "name": "Debug Context"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconsole.log('=== DEBUG OUTPUT STRUCTURE ===');\nconsole.log('🔑 Keys:', Object.keys(item));\nconsole.log('📦 Output type:', typeof item.output);\n\nif (typeof item.output === 'string') {\n  console.log('📄 Output (first 500 chars):');\n  console.log(item.output.substring(0, 500));\n  \n  // Try to parse\n  try {\n    const parsed = JSON.parse(item.output);\n    console.log('✅ Parsed successfully!');\n    console.log('   Type:', typeof parsed);\n    console.log('   Is Array?', Array.isArray(parsed));\n    \n    if (Array.isArray(parsed) && parsed.length > 0) {\n      console.log('   First item keys:', Object.keys(parsed[0]));\n    }\n  } catch (e) {\n    console.log('❌ Failed to parse:', e.message);\n  }\n}\n\n// Pass through\nreturn [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        592
      ],
      "id": "0c65bd34-6db3-44f7-b814-1e5d1cf60b9f",
      "name": "debug single"
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "rag_vectors",
          "mode": "list",
          "cachedResultName": "rag_vectors"
        },
        "prompt": "={{ $json.query }}",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2144,
        784
      ],
      "id": "881ba61d-c9f2-4b48-8c09-6fab3e72302e",
      "name": "Supabase Vector Store Single",
      "credentials": {
        "supabaseApi": {
          "id": "IRgdA1grhUB2EQRf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1968,
        1008
      ],
      "id": "1d68cecd-b137-48dc-ae99-7813c36cc2cc",
      "name": "Embeddings Multi1",
      "credentials": {
        "openAiApi": {
          "id": "UIf8te6pFLHvhBzM",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Filter Groups1": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Greeting Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Intent Classifier1": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier1": {
      "main": [
        [
          {
            "node": "Parse Intent Classifier Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Splitter1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store Single1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Subqueries1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Typing11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Single1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store Single1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store Single1": {
      "ai_tool": [
        []
      ],
      "main": [
        [
          {
            "node": "debug single",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data Single1": {
      "main": [
        [
          {
            "node": "Hybrid Reranker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hybrid Reranker1": {
      "main": [
        [
          {
            "node": "Debug Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Subqueries1": {
      "main": [
        [
          {
            "node": "Loop Paths1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Paths1": {
      "main": [
        [
          {
            "node": "Cross-Path Reranker1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Vector Store Single",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data Multi1": {
      "main": [
        [
          {
            "node": "Loop Paths1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cross-Path Reranker1": {
      "main": [
        [
          {
            "node": "Debug Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context1": {
      "main": [
        [
          {
            "node": "Synthesizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Synthesizer1": {
      "ai_languageModel": [
        [
          {
            "node": "Synthesizer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Synthesizer1": {
      "main": [
        [
          {
            "node": "Send Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Filter Groups1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Classifier Output1": {
      "main": [
        [
          {
            "node": "Route Splitter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Greeting?1": {
      "main": [
        [
          {
            "node": "Send Message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Classifier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Filter1": {
      "main": [
        [
          {
            "node": "Is Greeting?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Synthesizer1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Debug Context": {
      "main": [
        [
          {
            "node": "Format Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "debug single": {
      "main": [
        [
          {
            "node": "Normalize Data Single1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Multi1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store Single",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store Single": {
      "main": [
        [
          {
            "node": "Normalize Data Multi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "60515542-30ba-4d78-896b-0742809d3bee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41836fe86336794fad6e8a950edd73474e00053db37631e169e689f51798794f"
  },
  "id": "MQPp0QwJNcCrwXXfPMyec",
  "tags": []
}